.container {
  max-width: 1050px;
  margin: var(--spacing_9) auto 0 auto;
  padding: var(--spacing_4);
  padding-bottom: 0;
  box-sizing: border-box;
}

.text_end {
  text-align: center;
  margin-bottom: var(--spacing_3);
}

.back_btn {
  margin-bottom: var(--spacing_2);
}
