.container {
  border-radius: var(--border-radius-pill);
  background: linear-gradient(
    90deg,
    var(--gray_200) 26.47%,
    rgba(234, 234, 234, 0.25) 100%
  );
  background-size: 400% 400%;
  animation: loading 2s ease infinite;
  height: 100vh;
}

.gradient-lr {
  composes: container;
}

.gradient-rl {
  composes: container;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

@keyframes loading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
