.container {
  border: 1px solid var(--gray_400);
  border-radius: var(--border-radius);
  padding: var(--spacing_6);
  margin-bottom: var(--spacing_3);
}

.title_container {
  display: flex;
  align-items: center;
  gap: var(--spacing_2);
  margin-bottom: var(--spacing_3);
}

.title {
  margin: 0;
}
