.container {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing_5);
  gap: var(--spacing_19);
}

.checkbox {
  height: var(--spacing_4);
  width: var(--spacing_4);
  border: 2px solid var(--gray_600);
  accent-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border-radius: var(--border-radius_small);
  font-size: 16px;
}

.checkbox:checked {
  background-color: var(--blue);
  border: 2px solid var(--blue);
}

.checkbox:checked:after {
  content: "\2713";
  color: white;
}

.label {
  color: var(--gray_1000);
}
