.container {
  margin-bottom: var(--spacing_1);
}

.link {
  display: flex;
  align-items: center;
  gap: var(--spacing_2);
  border-radius: var(--border-radius);
  padding: var(--spacing_2);
}

.link:hover span {
  font-weight: 800;
}

.active {
  background-color: var(--gray_1000);
}
