.container {
  box-shadow: var(--box-shadow_2);
  border-radius: var(--border-radius);
  position: absolute;
  background: var(--bg_light);
}

.title_container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray_200);
  padding: var(--spacing_3) var(--spacing_4);
}

.title_item {
  width: 33.33%;
}

.title_item_1 {
  composes: title_item;
  text-align: left;
}

.title_item_2 {
  composes: title_item;
  text-align: center;
}

.title_item_3 {
  composes: title_item;
  text-align: right;
}

.form_title {
  margin: 0;
  padding: var(--spacing_4);
  padding-bottom: 0;
}

.form_container {
  padding: var(--spacing_4);
  padding-top: 0;
}

.submit_btn {
  margin-top: var(--spacing_7);
}
