.h1 {
  font-size: 26px;
  font-weight: 600;
}

.h2 {
  font-size: 18px;
  font-weight: 700;
}

.h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.h4 {
  font-size: 16px;
  font-weight: 700;
}

.h5 {
  font-size: 14px;
  weight: 500;
}

.body {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.label {
  font-size: 16px;
  font-weight: 600;
}

.chip {
  font-size: 12px;
  font-weight: 600;
}

.link {
  font-size: 16px;
  font-weight: 500;
}

.color-primary {
  color: var(--black);
}

.color-secondary {
  color: var(--gray_600);
}

.color-disabled {
  color: var(--gray_400);
}

.color-white {
  color: var(--white);
}

.color-green {
  color: var(--green);
}

.color-blue {
  color: var(--blue);
}
