:root {
  /* color */
  --green: #19b444;
  --green_light: #dcffe6;
  --blue: #3399ff;
  --blue_light: #dfefff;
  --bg_dark: #091928;
  --bg_light: #ffffff;
  --white: #ffffff;
  --black: #000000;

  --gray_200: #eaeaea;
  --gray_400: #d7d7d7;
  --gray_600: #ababab;
  --gray_800: #686868;
  --gray_1000: #424242;

  --hover_light: #fafafa;
  --hover_medium: #424242;
  --hover_dark: #212121;
  --selected: #424242;

  /* shape */
  --border-radius: 6px;
  --border-radius-pill: 30px;

  /* shadow */
  --box-shadow_1: 0px 4px 4px rgba(162, 162, 162, 0.1);
  --box-shadow_2: 0px 0px 10px rgba(0, 0, 0, 0.1);

  /* spacing */
  --spacing_1: 5px;
  --spacing_2: 10px;
  --spacing_3: 15px;
  --spacing_4: 20px;
  --spacing_5: 25px;
  --spacing_6: 30px;
  --spacing_7: 35px;
  --spacing_8: 40px;
  --spacing_9: 45px;
  --spacing_10: 50px;
  --spacing_11: 55px;
  --spacing_12: 60px;
}

body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}
