:root {
  /* color */
  --green: #19B444;
  --green_light: #DCFFE6;
  --blue: #3399FF;
  --blue_light: #DFEFFF;
  --bg_dark: #091928;
  --bg_light: #FFFFFF;
  --white: #FFFFFF;
  --black: #000000;

  --gray_200: #EAEAEA;
  --gray_400: #D7D7D7;
  --gray_600: #ABABAB;
  --gray_800: #686868;
  --gray_1000: #424242;

  --hover: #D7D7D7;
  --selected: #424242;

  /* shape */
  --border-radius: 6px
  --border-radius-pill: 30px
}
