:root {
  /* color */
  --green: #19b444;
  --green_light: #dcffe6;
  --blue: #3399ff;
  --blue_light: #dfefff;
  --bg_dark: #091928;
  --bg_light: #ffffff;
  --white: #ffffff;
  --black: #000000;

  --gray_200: #eaeaea;
  --gray_400: #d7d7d7;
  --gray_600: #ababab;
  --gray_800: #686868;
  --gray_1000: #424242;

  --hover_light: #fafafa;
  --hover_medium: #424242;
  --hover_dark: #212121;
  --selected: #424242;

  /* shape */
  --border-radius: 6px;
  --border-radius-pill: 30px;

  /* shadow */
  --box-shadow: 0px 4px 4px rgba(162, 162, 162, 0.1);
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
