.container {
  background-color: var(--bg_dark);
  height: 100vh;
  padding: 32px 15px;
  box-sizing: border-box;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
