.container {
  background-color: var(--bg_dark);
  min-height: 100vh;
  height: 100%;
  padding: var(--spacing_6) var(--spacing_3);
  box-sizing: border-box;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing_2);
  padding: 0 var(--spacing_6);
}
